{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> {% include 'metafiles/head.html' %} </head>

<body id="page-top" class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div>
            {% block 'navbar' %}
            This is auth Nav bar Override it!!!
            {% endblock %}
        </div>
        <div>
            {% block 'content' %}
            This is auth page contents
            {% endblock %}
        </div>
        <div>
            {% block 'footer' %}
            This is auth footer content
            {% endblock %}
        </div>
    </main>
   </body>
   {% include 'metafiles/scripts.html' %}
</html>